# IASCA - Máster en Ciencia y Tecnología desde el Espacio

## Ejercicios básicos sobre Python

### Variables y operadores

1. Crea dos variables con números enteros y muestra su suma.

In [1]:
a = 1
b = 2
a+b

3

2. Declara una variable con tu nombre y otra con tu edad, luego imprime ambas con una única instrucción.

In [2]:
nom = "Marco"
edad = 22
print(nom,edad)

Marco 22

3. Calcula el área de un rectángulo con base 5 y altura 10.

In [3]:
base = 5
alt = 10
base*alt

50

4. Convierte una temperatura de 25°C a Fahrenheit (F = C * 9/5 + 32).

In [5]:
temp_C = 25
temp_F = temp_C*(9/5)+32
temp_F

77.0

5. Calcula el resto de dividir 17 entre 5.

In [6]:
17%5

2

6. Declara dos variables booleanas y muestra el resultado de aplicarles el operador ```and```.

In [7]:
bool1 = True
bool2 = False
bool1 and bool2

False

7. Calcula la potencia de 2 elevado a 8.

In [8]:
2**8

256

8. Concatena tres cadenas de texto y muestra el resultado.

In [9]:
Ho = "Ho"
la = "la"
Mundo = "Mundo"
Ho + la + Mundo

'HolaMundo'

9. Calcula el promedio de tres números: 15, 20 y 25.

In [11]:
list1 = [15,20,25]
sum(list1)/len(list1)

20.0

10. Intercambia los valores de dos variables sin usar una tercera variable.

In [16]:
var1 = 10
var2 = 20
var1, var2 = var2, var1
print(var1, var2)

20 10

## Condiciones

1. Escribe un programa que determine si un número es positivo, negativo o cero.

In [19]:
num = -2543254
if num > 0:
  print("Positivo")
elif num == 0:
  print("0")
else:
  print("Negativo")

Negativo

2. Verifica si un número es par o impar.

In [21]:
num = 3
if num % 2 == 0:
  print("Par")
else:
  print("Impar")

Impar

3. Compara dos números e indica cuál es mayor o si son iguales.

In [24]:
num1 = 2344512
num2 = 2344512
if num1 > num2:
  print("num1 es mayor que num2")
elif num1 == num2:
  print("igualicos")
else:
  print("num2 es mayor que num1")

igualicos

4. Verifica si un número está entre 10 y 20 (inclusive).

In [26]:
num = 143
if num <= 20 and num >= 10:
  print("si es")
else:
  print("no es lol")

no es lol

## Bucles

1. Imprime los números del 1 al 10 usando un bucle for.

In [28]:
for x in range(10):
  print(x+1, end=" ")

1 2 3 4 5 6 7 8 9 10

2. Calcula la suma de los números del 1 al 100.

In [29]:
nums = range(1,101)
sum(nums)

5050

3. Imprime la tabla de multiplicar del 7.

In [30]:
for i in range(11):
  print(i*7, end=" ")

0 7 14 21 28 35 42 49 56 63 70

4. Solicita números al usuario hasta que ingrese 0, luego muestra la suma total.

In [38]:
count = 0
num = int(input("dame un numero porfa: "))
while num != 0:
  count += num
  num = int(input("dame un numero porfa: "))

print(f"la suma es {count}")

dame un numero porfa: 5983247
dame un numero porfa: 7325
dame un numero porfa: 237457324
dame un numero porfa: 273573247523753275234757325735747523
dame un numero porfa: 0
la suma es 273573247523753275234757325979195419

5. Cuenta cuántos números impares hay entre 1 y 30.

In [40]:
count = 0
for k in range(1,31):
  if k % 2 == 1:
    count += 1

count

15

## Listas

1. Crea una lista con 5 frutas y muestra el tercer elemento.

In [49]:
frutas = ["pera", "manzana", "piña", "manzana verde", "manzana amarilla"]
frutas[2]

'piña'

2. Añade dos frutas más a la lista de frutas.

In [50]:
mas_frutas = ["manzana verde", "manzana morada"]
frutas += mas_frutas
frutas

['pera',
 'manzana',
 'piña',
 'manzana verde',
 'manzana amarilla',
 'manzana verde',
 'manzana morada']

3. Elimina la última fruta de la lista usando ```remove()```.

In [51]:
frutas.remove("manzana morada")
frutas

['pera',
 'manzana',
 'piña',
 'manzana verde',
 'manzana amarilla',
 'manzana verde']

4. Ordena una lista de números de menor a mayor.

In [52]:
lista = [235324,235632454332,124124523564315,65845736225,374564354342573264132543647,3,53645,223]
lista.sort()
lista

[3,
 223,
 53645,
 235324,
 65845736225,
 235632454332,
 124124523564315,
 374564354342573264132543647]

5. Encuentra el número máximo y mínimo en una lista.

In [54]:
lista = [235324,235632454332,124124523564315,65845736225,374564354342573264132543647,3,53645,223]
lista.sort()
print(lista[0],lista[len(lista)-1])

3 374564354342573264132543647

6. Invierte el orden de los elementos de una lista.

In [56]:
lista = [235324,235632454332,124124523564315,65845736225,374564354342573264132543647,3,53645,223]
lista.reverse()
lista

[223,
 53645,
 3,
 374564354342573264132543647,
 65845736225,
 124124523564315,
 235632454332,
 235324]

7. Cuenta cuántas veces aparece un elemento específico en una lista.

In [57]:
lista = [3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,63452,2432,11,21,3,1,4,2,5,7,9,6,4]
lista.count(3)

18

8. Crea una nueva lista con los cuadrados de los números de otra lista usando comprensión de listas.

In [59]:
lista = [1,2,3,4,5]
lista2 = [x**2 for x in lista]
lista2

[1, 4, 9, 16, 25]

9. Dada una lista de palabras ["python", "java", "c++", "javascript", "ruby"], crea una nueva lista usando comprensión que contenga solo las palabras que tienen más de 4 letras.

In [61]:
lista = ["python", "java", "c++", "javascript", "ruby"]
lista2 = [x for x in lista if len(x)>4]
lista2

['python', 'javascript']

10. Crea una lista de números [12, 7, 5, 19, 3, 8, 15] y recórrela con un bucle usando enumerate() mostrando el índice y el valor de cada elemento.

In [62]:
lista = [12, 7, 5, 19, 3, 8, 15]
for i, v in enumerate(lista):
  print(i,v)

0 12
1 7
2 5
3 19
4 3
5 8
6 15

## Tuplas

1. Crea una tupla con los días de la semana y muestra el primero y el último.

In [63]:
tupla = ("Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sábado", "Domingo")
print(tupla[0], tupla[len(tupla)-1])

Lunes Domingo

2. Intenta modificar un elemento de una tupla y observa qué sucede.

In [ ]:
no puedo lol

## Diccionarios

1. Crea un diccionario con información de una persona (nombre, edad, ciudad) y muestra cada valor.

In [64]:
dic = {"Nombre":"Marco",
       "Edad": 22,
       "Ciudad": "Madrid"}
dic

{'Nombre': 'Marco', 'Edad': 22, 'Ciudad': 'Madrid'}

2. Añade una clave "teléfono" al diccionario anterior.

In [65]:
dic["Telefono"] = 644223912
dic

{'Nombre': 'Marco', 'Edad': 22, 'Ciudad': 'Madrid', 'Telefono': 644223912}

3. Crea un nuevo diccionario con datos personales como el anterior, con unos valores diferentes. Crea una lista con los dos dicconarios y muestra su contenido.

In [66]:
dic2 = {"Nombre":"Manuele",
       "Edad": 23,
       "Ciudad": "Madrid"}
lista = [dic, dic2]
lista

[{'Nombre': 'Marco', 'Edad': 22, 'Ciudad': 'Madrid', 'Telefono': 644223912},
 {'Nombre': 'Manuele', 'Edad': 23, 'Ciudad': 'Madrid'}]

4. Elimina la clave de un diccionario usando ```del```.

In [67]:
del dic["Telefono"]
dic

{'Nombre': 'Marco', 'Edad': 22, 'Ciudad': 'Madrid'}

5. Verifica si una clave existe en un diccionario.

In [69]:
"Nombre" in dic

True

6. Muestra todas las claves de un diccionario.

In [70]:
for k in dic:
  print(k)

Nombre
Edad
Ciudad

7. Muestra todos los valores de un diccionario.

In [73]:
for k, v in dic.items():
  print(v)

Marco
22
Madrid

8. Crea un diccionario que almacene nombres de estudiantes como claves y sus notas como valores, luego calcula el promedio.

In [75]:
notas = {"Nombres":["pepa", "pepe", "pepo", "pepi", "pepu"], "Notas":[8.8, 3, 6.7, 9, 2]}
sum(notas["Notas"])/len(notas["Notas"])

5.9

9. Recorre un diccionario mostrando cada clave y su valor correspondiente.

In [76]:
notas = {"Nombres":["pepa", "pepe", "pepo", "pepi", "pepu"], "Notas":[8.8, 3, 6.7, 9, 2]}
for k, v in notas.items():
  print(k,v)

Nombres ['pepa', 'pepe', 'pepo', 'pepi', 'pepu']
Notas [8.8, 3, 6.7, 9, 2]